<html>
  <head>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      $(document).ready(function() {
        google.charts.load('43', {'packages':['bar']});
        google.charts.load('43', {'packages':['corechart']});
        $.ajax({
          method: 'GET',
          url: 'https://hiringplatformbyanagha.herokuapp.com/analytics/summary',
          dataType: 'json',
          success: function(data){
            window.info_json = data;
          }
        });
        google.charts.setOnLoadCallback(drawBarChart);
        google.charts.setOnLoadCallback(drawPieChart);
        function drawBarChart(){
          var dataTable = [];
          dataTable.push(["Requisition", "Number of applicants"]);
          for ( var key in window.info_json ){
            var count = window.info_json[key]["count"];
            dataTable.push( [key, count] );
          }
          var data = google.visualization.arrayToDataTable(dataTable);
          var options = {
            bars: 'horizontal',
            colors: ['#0000ff']
          };
          var chart = new google.charts.Bar(document.getElementById('bar_graph'));
          chart.draw(data, google.charts.Bar.convertOptions(options));
        }
        function drawPieChart() {
          var dataTable = [];
          dataTable.push(["Requisition", "Number of applicants"]);
          for ( var key in window.info_json ){
            var count = window.info_json[key]["count"];
            dataTable.push( [key, count] );
          }
          var data = google.visualization.arrayToDataTable(dataTable);
          var options = {
            colors: ['blue', 'lightblue']
          };
          var chart = new google.visualization.PieChart(document.getElementById('pie_chart'));
          chart.draw(data, options);
        }
      });
    </script>
  </head>
  <body>
    <center>
      <div class="authform jobtable">
        <b>Requisition vs Number of applicants applied</b>
      </div>
      <div class="row" style="margin-top: 50px;">
        <div class="col-md-2"></div>
        <div class="col-md-4">
          <div id='bar_graph' style="width: 450px; height: 250px;">
          </div>
        </div>
        <div class="col-md-4">
          <div id='pie_chart' style="width: 450px; height: 200px;">
          </div>
        </div>
      </div>
    </center>
  </body>
</html>